<div id="gallery">
	
	<div>

		<p>Mira les fotos de la boda:</p>
		<div id="listUsers">	
			<ul>
				<li ng-repeat="(name, prefix) in gallery.filekey.CommonPrefixes">
					<a ng-href="/#/gallery/{{prefix.Prefix|shortenPrefix}}"><p>{{prefix.Prefix|shortenPrefix:49}}</p></a>
				</li>
			</ul>
		</div>
		<div id="listContents">	
			<ul>
				<li ng-repeat="(name, content) in gallery.filekey.Contents">
					<div class="imagecontent">
						<a ng-click="gallery.populateImagesLightbox(); gallery.openLightboxModal(name);" class="lightbox">
							<div class="thumbnail">
								<img class="preview" ng-src="{{gallery.getURLSigned(content.Key)}}" ng-alt="{{content.Key|shortenPrefix}}">
							</div>
							<span class="filename">{{content.Key|shortenPrefix}}</span>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>	