<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/#/">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </div>

    <div class="collapse navbar-collapse" uib-collapse="navCollapsed" id="mainNavbar">
      <ul class="nav navbar-nav">
<!--

        <li>
          <a href="/#/">Home</a>
        </li> -->
        <li>
          <a ng-href="/#/thanks">Agraïments</a>
        </li>
        <li>
          <a ng-href="/#/gallery">Galeria</a>
        </li>
        <li>
          <a ng-href="/#/upload">Puja Fotos</a>
        </li>
<!--         <li>
          <a ng-href="/#/suggestions">Recomanacions</a>
        </li> -->
        <li>
          <a ng-href="/#/present">Regal</a>
        </li>
        <li>
          <a ng-href="/#/contact">Contacte</a>
        </li>
      </ul>
    </div>
  
  </div>
</nav>