// _colors.scss


$menu-text-color: #bb9776;
$link-color: #bb9776;
$border: #bb9776;
$menu-text-hover: #f1cfa1;
$link-hover: #f1cfa1;
$background: silver;
$shadows: #333;
$font: #222;
$fontsize: 1.5rem;
