@import "include-media", "fonts";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

html{
	height: 100%;
	margin: 0;
}
head{
	height: 0;
}
body{
	height: 100%;
	color: black;
	font-size: 25px;
}

#parallax{
	position: absolute;
		top: 0;
	margin: 0;
	min-height: 100%;
	width: 100%;
	background-image: url("../assets/img/down-left-phone.png"), url("../assets/img/up-right-phone.png");
	background-repeat: no-repeat, no-repeat;
	background-position: bottom left, top right;
	
	@include media(">phone") {

		background-image: url("../assets/img/down-left.png"), url("../assets/img/up-right.png");

	}
}

.main{
	padding-bottom: 130px;
	p.text{
		text-indent: 1em;
		text-align: justify;

		a{
			color: $link-color;
		}
		a:hover{
			color: $link-hover;
			text-decoration: none;
			font-size: 0.99em;
		}

	}
	>div>div{
		margin: 0 10%;
	}
	font-family: 'Reem Kufi', sans-serif;
	margin: 15% auto 0 auto;
	
	@include media(">phone") {
		font-size:1.6em;
		margin: 10% 10% 0 10%;
		padding-bottom: 200px;
		>div>div{
			margin: 0;
		}	
	}
}
.titol, .title{
	font-size: 3em;
	text-indent: 0;
	font-family: meadowbrook;
	//font-weight: bold;
}

#map{
	div.map.medium{
		display: none;
	}
	div.map.small{
		display: block;
		max-width: 100%;
		text-align: center;
		margin-bottom: 50px;
		iframe{
			display: inline-block;
			max-width: 100%;
			margin: 0 auto;
			border: solid 5px $border;
			-webkit-border-radius: 4px;
			border-radius: 4px;
		}
	}

	ul.instructions{
		list-style-type: none;
		margin-top: 30px;
		margin-bottom: 50px;

		li{
			line-height: 160%;
		}
	}
	
	@include media(">phone") {
		div.map.medium{
			display: block;
			max-width: 100%;
			text-align: center;
			margin-bottom: 50px;
			margin-top: 25px;
			iframe{
				display: inline-block;
				max-width: 100%;
				margin: 0 auto;
				border: solid 8px $border;
				-webkit-border-radius: 5px;
				border-radius: 5px;
			}
		}
		div.map.small{
			display: none;		
		}
	}

}

#main{

	margin: 0;
	
	text-align: center;
	.centering{
		display: inline-block;
		text-align: left;
		min-width: 219px;
	}

	h1{
		font-weight: bold;
		font-size: 1.8em;

	}
	.maintitle{
		font-size: 7em;
		font-weight: normal;
		font-family: meadowbrook;
		p{
			line-height: .4em;
		}
	}

	h2{
		font-size: 1.2em;
		font-weight: 550;
		line-height: .2em;
	}
	h3{
		font-size: .9em;
		line-height: .2em;
	}
	@include media(">phone"){
		h1{
			font-weight: bold;
			font-size: 2.5em;

		}
		.maintitle{
			font-size: 10em;
			font-weight: normal;
			font-family: meadowbrook;
			p{
				line-height: .4em;
			}
		}

		h2{
			font-size: 2em;
			font-weight: 550;
			line-height: .6em;
		}
		h3{
			font-size: 1em;
			line-height: .6em;
		}
	}
}

/*******Upload PAGE *******/
	#uplaodForm{
		display: block;
		outline: solid 1px tomato;
		text-align: left;
	}

	#uploadForm div.formPart > input, #uploadForm div.formPart > label{
		display: block;
		width: 80%;
		clear: both;
	}

	#uploadForm ul.radio{
		list-style: none;
		display: block;
		clear: both;
	}
	#uploadForm ul.radio li{
		width: 100%;
	}

	/*****DynamoDB******/
  #dynamodb .container{
    margin-bottom: 20px;
  }

  #dropzone{
    margin: 15px;
    //height: 150px;
   //width: 150px;
    text-align: center;
    line-height: 150px;
    
    &.dropzone{
      outline: dashed 3px #bbb;
      color: #bbb;
    }
    &.dropzone.over{
      margin: 15px; 
      outline: dashed 5px #222;
      color: #222;  
    }
  }

  div.formPart{
    display: inline-block;
    width: 46.5%;
    margin-right: 3%;
    vertical-align: top;
    min-width: 180px;
  }

  .queryResults{
    min-height: 100px;
    font-size: 1rem;
  }

  /******LOGIN FB ********/

  #LogoutAmazon, #LogoutFB{
  		display: none;
  		text-decoration: none;
  		max-width: 10em;
  		margin: 1em 0;
  		-webkit-box-shadow: 2px 2px 0 3px $shadows;
  		box-shadow: 2px 2px 0 3px $shadows;
  	}

  	#LoginWithAmazon, #LoginWithFB{
  		display: block;
  		max-width: 10em;
  		margin: 1em 0;
  		-webkit-box-shadow: 2px 2px 0 3px $shadows;
  		box-shadow: 2px 2px 0 3px $shadows;

  	}

  	#searchArea{
  		margin-bottom: 20px;
  	}

  	#navigationmenu{
  		display: block;
  		}

  		#navigationmenu ul{
  			list-style: none;
  		}

  		#navigationmenu ul li{
  			display: inline-block;
  		}

  		#navigationmenu ul li a{
  			margin-right: 8px;
  			text-decoration: none;
  	}

  	#logmessage,
  		#logmessage.ko{
  			display: block;
  			color: white;
  			background-color: red;
  			margin-top: 10px;
  			padding: 5px;
  			-webkit-border-radius: 6px;
  			border-radius: 6px;

  		}

  		#logmessage.ok{
  			color: white;
  			background-color: green;
  			font-weight: bold;
  			padding: 5px;
  		    animation-name: fadeOut;
  		    animation-duration: 5s;
  		    animation-fill-mode: forwards;
  		}

  		@-webkit-keyframes fadeOut{

  			/* Chrome, Safari, Opera */ 

  		    from {opacity: 1; display: block;}
  		    to {opacity: 0; display: none;}
  		} 
  		@keyframes fadeOut{

  			/* Standard syntax */ 

  		    from {opacity: 1; display: block;}
  		    to {opacity: 0; display: none;}
  	}

  	/************* Upload Dropzone ********/

  	#upload{
  		width: 100%;
  	}

  	#flowjs{
  		 margin: 15px 0;
  		 //height: 150px;
  		//width: 150px;
  		 //outline: solid 2px red;
  		 max-width: 100%;
  		 min-height: 150px;
  		 text-align: center;
  		 vertical-align: middle;
  		 //line-height: 150px;
  		 //
  		 
  		 #dropzonebox{
  		 	
  		 	min-height: 150px;
  		 	
  		 	.wrapperflex{
  		 		display: flex;
  		 		flex-direction: column;
  		 		justify-content: center;
  		 		min-height: 150px;
  		 		.wrapper{
  		 			width: 100%;
  		 		}
  		 	}
  		 }
  		 
  		 .drop{
  		 	margin: 0px 0px 10px 0px; 
  		 	outline: dashed 3px #bbb;
  		 	color: #bbb;
  		 }
  		 .drop.over{
  		   margin: 10px 10px 10px 10px; 
  		   outline: dashed 5px #222;
  		   color: #222;  
  		 }

  		 .gallery-container{
  		 	width: 100%;
  		 	text-align: left;
  		 	//outline: solid 1px green;
  		 }

  		 .gallery-box{
  		 	width: 23%;
  		 	margin: 0 1%;
  		 	padding: 0;
  		 	line-height: 1ex;
  		 	display: inline-block;
  		 	text-align: center;
  		 	.filename{
  		 		display: block;
  		 		max-width: 100%;
  		 		line-height: 3ex;
  		 		font-size: 1.5rem;
  		 		text-overflow: ellipsis;
  		 		text-align: center;
  		 		 /* Required for text-overflow to do anything */
  		 		 white-space: nowrap;
  		 		 overflow: hidden;
  		 	}
  		 	.thumbnail {
  		 		//padding: 4px;
  		 		width: 100%; 
  		 		height: 150px; 
  		 		line-height: 140px;  
  		 		text-align: center;
  		 		vertical-align: middle;
		 		    
  		 		img{
  		 			display: inline-block;
  		 			max-width: 100%;
  		 			max-height: 140px;
  		 			vertical-align: middle;
  		 		}
  		 	}


  		 }

  	}