<div id="map">

	<p class="title">Com Arribar-hi</p>

	<p class="text">
		
		<ul class="instructions">
			<li class="item1"><strong>a.</strong> Obrir el vostre navegador</li>
			<li class="item2"><strong>b.</strong> Buscar https://maps.google.com/</li>
			<li class="item3"><strong>c.</strong> Escriure a la barra de cerca: Can Solà, Veïnat de Can Bells, 1, bústia 76, 17183 Sant Dalmai, Province of Girona</li>
			<li class="item4"><strong>d.</strong> Prémer enter</li>
			<li class="item5"><strong>e.</strong> Clicar allà on posa indicacions.</li>
			<li class="item6"><strong>f.</strong> Escriure el lloc d'origen a la barra on posa: trieu un punt de partida.</li>
		</ul>

	</p>

	<p class="text">o bé seguir les indicacions del mapa que trobareu més avall.</p>
		
		<div class="map medium">
			<iframe class="medium" src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d380850.5044460301!2d2.528127660742192!3d41.776709530152374!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x12a4c7cf4242446d%3A0x1c7b5f146fbca228!2sGranollers%2C+Barcelona!3m2!1d41.6061927!2d2.2870889!4m5!1s0x12badf43a9ee8d69%3A0x72db16fc3b0e868d!2sCan+Sol%C3%A0%2C+Ve%C3%AFnat+de+Can+Bells%2C+1%2C+b%C3%BAstia+76%2C+17183+Sant+Dalmai%2C+Province+of+Girona!3m2!1d41.900104!2d2.7154249999999998!5e0!3m2!1sca!2ses!4v1487453133896" width="600" height="450" frameborder="1" allowfullscreen></iframe>
		</div>

		<div class="map small">
			<iframe class="small" src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d380850.5044460301!2d2.528127660742192!3d41.776709530152374!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x12a4c7cf4242446d%3A0x1c7b5f146fbca228!2sGranollers%2C+Barcelona!3m2!1d41.6061927!2d2.2870889!4m5!1s0x12badf43a9ee8d69%3A0x72db16fc3b0e868d!2sCan+Sol%C3%A0%2C+Ve%C3%AFnat+de+Can+Bells%2C+1%2C+b%C3%BAstia+76%2C+17183+Sant+Dalmai%2C+Province+of+Girona!3m2!1d41.900104!2d2.7154249999999998!5e0!3m2!1sca!2ses!4v1487453133896" width="400" height="300" frameborder="1" allowfullscreen></iframe>
		</div>

</div>