<div id="prohibit">

	<p class="title">Recomanacions i coses</p>

	<ul class="recommends">
		<li class="item1">
			<p class="text">
				El casament és en un espai rural, però és un casament. Siguem elegants que després no voldreu veure'us a les fotos, d'aquí a 20 anys, amb els vostres nens al costat, i passar vergonya.
			</p>			
		</li>
		<li class="item2">
			<p class="text">
				No es podran portar animals de companyia.
			</p>			
		</li>
		<li class="item3">
			<p class="text">
				Us demanem que no porteu bengales o elements de foc perquè el parament de taules i cadires és de lloguer. 
			</p>	
		</li>
		<li class="item4">
			<p class="text">
				No es podrà dormir en caravana o furgoneta al recinte de la casa. 
			</p>			
		</li>
		<li class="item5">
			<p class="text">
				Un cop comenci el casament podrem penjar i veure les fotos en aquest mateix web.
			</p>			
		</li>
	</ul>	
	
</div>