<div id="regal">

	<p class="title">Regala'ns una Experiència</p>

	<p class="text">
		Qualsevol cosa que regaleu, si en regaleu, serà benvinguda. Si voleu fer una aportació econòmica, el número de compte és: <strong>ES2620386670086000123720</strong>.
	</p>
	<p class="text">
		També tenim un viatge de noces per fer. Podeu ajudar-nos a pagar-lo o a fer-lo molt més  interessant, ho podeu trobar a aquest <a href="http://collageandsweetmoontravel.com/llista-de-noces/viatge-sergianna/">link</a>.
	</p>

</div>