<div id="upload" class="container">
	
	<div>
	
		<p>Puja per aquí les teves fotos:</p>
		
		<button class="btn btn-default" ng-click="upload.showObject(); upload.sendToS3(upload.obj);">Puja-ho tot</button>
		<div id="flowjs" 
			flow-init
			flow-name="upload.obj"
		    flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
		  <div id="dropzonebox" class="drop" flow-drop ng-class="dropClass">
			<div class="wrapperflex">
				<div class="wrapper">
				    <span class="btn btn-default" flow-btn>Selecciona Imatge</span>
				    <span class="btn btn-default" flow-btn flow-directory ng-show="$flow.supportDirectory">Selecciona un directori d'Imatges</span>
				    o també pots <b>arrossegar les imatges aquí   </b>
				    
				 </div>
			</div>

		    <div id="gallery-container" class="gallery-container">

		         
		      <div ng-repeat="(key, file) in upload.obj.files" class="gallery-box">
		        <span class="filename">{{file.name}}</span>
		        
		        <div class="thumbnail" ng-show="upload.obj.files.length">
			          	<img flow-img="file" />
		        </div>
		        <div class="clear"></div>
		        <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
		          <div class="progress-bar" role="progressbar"
		               aria-valuenow="{{upload.progressDict[upload.nameparsed[key]].value}}"
		               aria-valuemin="0"
		               aria-valuemax="100"
		               ng-style="{width: (upload.progressDict[upload.nameparsed[key]].value) + '%'}">
		            <span class="sr-only">{{upload.progressDict[upload.nameparsed[key]].value}}% Complete</span>

		          </div>
		        </div>

		        <div class="btn-group">
		          <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
		            Cancel·la
		          </a>
		        </div>

		      </div>
		      <div class="clear"></div>
		    </div>
		  </div>


		</div>
	</div>	
		
</div>