<div id="upload">
	
	<div class="container">

		<p>Puja per aquí les teves fotos:</p>

		<div id="dropzone" flow-init
			flow-name="upload.obj"
		     flow-files-submitted="$flow.upload()"
		     flow-file-success="$file.msg = $message">

		  <div class="dropzone" flow-drop>
		  	<button ng-click="upload.showObject()">ShowObject</button>
		  	<input type="file" flow-btn/>
		  	<span class="btn" flow-btn>Upload File</span>
		      Drag And Drop your file here
		      <div ng-repeat="file in $flow.files">
		        <div>{{$index+1}}</div>
		        <div><img flow-img="file" /></div>
		        <div>{{file.name}}</div>
		    </div>
		  </div>

		</div>	

	</div>	
		
</div>